<div class="box">
    <div [class.rotate]="rotateClass" class="box__content rotate2">
        <div class="box__front">
            <img src="assets/imgs/logo-transparente.PNG" alt="Logo del Coro">
            <i (click)="addRotateClass()" class="fa-solid fa-rotate icon-rotate rotateButton"></i>
        </div>
        <div class="box__back">
            <i (click)="addRotateClass()" class="fa-solid fa-rotate icon-rotate rotateButton"></i>
            <app-my-info></app-my-info>
        </div>
    </div>
</div>