<div  class="box">
    <div [class.rotate]="rotateClass" class="box__content rotate2">
        <div class="box__front">
            <div>
                <h1 class="simple-title">
                    Coro Page
                </h1>
                <!-- <h1 class="loki-title">
                    <span [ngStyle]="{'font-family': font1}">M</span>
                    <span [ngStyle]="{'font-family': font2}">a</span>
                    <span [ngStyle]="{'font-family': font3}">t</span>
                    <span [ngStyle]="{'font-family': font4}">i</span>
                    <span [ngStyle]="{'font-family': font5}">a</span>
                    <span [ngStyle]="{'font-family': font6}">s</span>
                    <span class="font-7">.</span>
                    <div class="underline"></div>
                </h1> -->
                <i (click)="addRotateClass()" class="fa-solid fa-rotate icon-rotate rotateButton"></i>
            </div>
        </div>
        <div class="box__back">
            <i (click)="addRotateClass()" class="fa-solid fa-rotate icon-rotate rotateButton"></i>
            <app-my-info></app-my-info>
        </div>
    </div>
</div>