@use '/src/partials/variables' as v;

h1 {
    color: v.$white-color;
    font-size: 25vw;
    margin: 0 10px;
    overflow: hidden;
    text-decoration: underline;
    text-decoration-color: v.$secondary-color;
}

.loki-title {
    text-decoration: none;
}