<h1>Hola Soy</h1>
<h1 class="loki-title">
    <span [@changeFont1]="fontBoolean ? 'start' : 'end'" class="font-1">M</span>
    <span [@changeFont2]="fontBoolean ? 'start' : 'end'" class="font-2">a</span>
    <span [@changeFont1]="fontBoolean ? 'start' : 'end'" class="font-3">t</span>
    <span [@changeFont2]="fontBoolean ? 'start' : 'end'" class="font-4">i</span>
    <span [@changeFont1]="fontBoolean ? 'start' : 'end'" class="font-5">a</span>
    <span [@changeFont2]="fontBoolean ? 'start' : 'end'" class="font-6">s</span>
    <span class="font-7">.</span>
</h1>