@use '/src/partials/variables' as v;

// .titles-container {
//     display: flex;
//     height: 100%;
//     width: 100%;
//     flex-direction: column;
//     background-color: red;
//     justify-content: center;
// }

.box {
    position: relative;
    perspective: 1000px;
    height: 90vh;

    &__content {
        height: 90vh;
        background-color: rgb(0, 0, 0, .5);
        transform-style: preserve-3d;
        transition: all 0.5s linear;
        border-style: solid;
        border-image: linear-gradient(to bottom, v.$orange-color, v.$secondary-color, #181818) 1 100%;
    }

    &:hover &__content {
        transform: rotateY(180deg);
    }

    &__front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        height: 100%;
    }

    &__back {
        backface-visibility: hidden;
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        width: 100%;
        transform: rotateY(180deg);
        overflow-y: scroll;  scrollbar-width: none; 
        -ms-overflow-style: none; 
    }

    &__back::-webkit-scrollbar {
        display: none; 
    }
}


h1 {
    color: v.$white-color;
    font-size: 25vw;
    text-decoration: underline;
    text-decoration-color: v.$secondary-color;
    flex-shrink: 0;
}

.loki-title {
    text-decoration: none;
}

.underline {
    // height: 30%;
    width: 80vw;
    border: 1.5vw solid v.$secondary-color;
    // position: absolute;
    // top: 50;
}

@media (min-width: 1300px) {
    .box {
        width: 50%;
    }
}

@media (min-width: 650px) {
    h1 {
        // color: red;
        font-size: 160px;
    }

    .underline {
        width: 530px;
        border: 1vh solid v.$secondary-color;
    }
}