<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Project title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus modi at eveniet
                    quod dignissimos nostrum, simi, adipisci dignissimos cumque cupiditate minima.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Project title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus modi at eveniet
                    quod dignissimos nostrum, s, adipisci dignissimos cumque cupiditate minima.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Project title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus modi at eveniet
                    quod dignissimos nostru adipisci dignissimos cumque cupiditate minima.
                </p>
            </div>
        </div>
    </div>
</div>