<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="https://bejewelled-stroopwafel-97a1b7.netlify.app/home-component" target="_blank"
                        rel="noopener noreferrer">
                        Football
                        <span>
                            Results
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </span>
                    </a>
                </h5>
                <p class="card-text">
                    Esta pagina web presenta resultados footbolisticos de todo el mundo,
                    implementando una API.
                    <br>
                    Creada integramente en Angular 16.
                    <br>
                    Algunas de las decisiones de diseño estan tomadas a partir de las
                    limitaciones de la API gratuita utilizada.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Project title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus modi at eveniet
                    quod dignissimos nostrum, s, adipisci dignissimos cumque cupiditate minima.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Project title</h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus modi at eveniet
                    quod dignissimos nostru adipisci dignissimos cumque cupiditate minima.
                </p>
            </div>
        </div>
    </div>
</div>