<div class="contact-container">
    <div class="contact-container__social-networks">
        <a href="https://www.linkedin.com/in/matias-mendez-924462261/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Matias-87" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.instagram.com/mati_mendez_87/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <a href="mailto:matuemendez89@gmail.com">matuemendez89@gmail.com</a>
</div>