@use '/src/partials/variables' as v;

.ocean {
    height: 25%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #624479;
    transform: rotate(180deg);
}

//opcion 1: 
// .ocean background-color: #9A6296
// wave svg colors (.25: #6a9bd9 ) (#9a6296)

//opcion 2: 
// .ocean background-color: #624479
// wave svg colors (.25: #8d5277 ) (#624479)

//opcion 3:
// todo #E0479E

// opcion 4:
// .ocean background-color: #DC7F9B
// wave svg colors (.25: #F7A1C4 ) (#DC7F9B)

//opcion 5:
// .ocean background-color: #FF2CAE
// wave svg colors (.25: #BC2BFF ) (#FF2CAE)

//opcion 6:
// .ocean background-color: #BC2BFF
// wave svg colors (.25: #FF2CAE ) (#BC2BFF)

.wave {
    background: url(/assets/svg/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 20s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
    top: -175px;
    animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
}

@keyframes wave {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {

    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }

    50% {
        transform: translate3d(0, 5px, 0);
    }
}