<div class="main-container">
    <div class="background-container">
        <div class="abilities-container">
            <h2 class="abilities-container__title">Conocimientos</h2>
            <div class="abilities-grid">
                <div class="abilities-grid__technology">
                    <i class="fa-brands fa-html5"></i>
                    <p>HTML</p>
                </div>
                <div class="abilities-grid__technology">
                    <i class="fa-brands fa-css3-alt"></i>
                    <p>CSS</p>
                </div>
                <div class="abilities-grid__technology">
                    <i class="fa-brands fa-js"></i>
                    <p>JavaScript</p>
                </div>
            </div>
        </div>
        <div [@animationStain]="getAnimationState(progress)" class="background-container__background"></div>
    </div>
</div>