@use 'src/partials/variables' as v;

.principal-container {
    background-color: v.$primary-color;
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 5%;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 1000;
}

