@use '/src/partials/variables' as v;

.my-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        color: v.$white-color;
        text-decoration: underline;
        text-decoration-color: v.$secondary-color;
        font-size: 5vw;
    }

    p {
        width: 80%;
        color: v.$white-color;
        text-align: center;
    }
}