<div class="my-info-container">
    <h4>Somos <br> Canto Infinito</h4>
    <p class="my-info-container__info">
        El coro de música pop y cumbias de la ciudad.
        <br>
        Nos une la pasión por la música y las ganas de conectarnos entre nosotros y con ustedes.
        Amamos esas canciones que viajan bellamente de corazón en corazón y queremos ir con ellas a donde lleguen: al
        infinito.
    </p>
    <hr>
    <p class="my-info-container__gracias">
        Gracias infinitas por ser parte de este momento.
    </p>
    <a href="https://www.instagram.com/canto.infinito/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-instagram"></i>
        @canto.infinito
    </a>
</div>