<div class="my-info-container">
    <h4>Sobre Mi :</h4>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia, velit deleniti corporis accusantium
        laboriosam atque provident exercitationem commodi quidem eius consectetur ducimus dolores explicabo facere quas
        ipsa voluptas aperiam molestiae?
    </p>
    <hr>
    <h4>Conocimientos :</h4>
    <div class="app-container">
        <app-abilities-scroll></app-abilities-scroll>
    </div>
    <hr>
    <h4>Proyectos :</h4>
    <div class="app-container">
        <app-projects></app-projects>
    </div>
    <hr>
    <h4>Contacto :</h4>
    <div class="app-container">
        <app-contact></app-contact>
    </div>
</div>