@use '/src/partials/variables' as v;

.my-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        color: v.$white-color;
        text-decoration: underline;
        text-decoration-color: v.$secondary-color;
        margin-bottom: 10px;
        font-size: clamp(12px, 8vw, 70px);
    }

    p {
        width: 80%;
        color: v.$white-color;
        text-align: center;
        margin: 0px;
    }

    hr {
        height: 5px;
        width: 100%;
        background: v.$secondary-color;
        margin: 20px;
        padding: 0px;
    }
}

.app-container {
    width: 100%;
    overflow: hidden;
}

@media (min-width: 650px) {
    // .my-info-container {
    //     h4 {
    //         font-size: 4vw;
    //     }
    // }

    .icons-container {
        width: 100%;
        height: auto;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;

        svg {
            height: 80px;
            width: 80px;
            margin: 0px 10px 20px 10px;
            flex-shrink: 0;
        }
    }
}