<div class="my-info-container">
    <h4>Somos <br> Canto Infinito</h4>
    <p class="my-info-container__info">
        Un coro de música pop en español y cumbias, pero somos más que eso, somos personas que no
        nos reunimos para intercambiar historias, charlas, risas, recargarnos de energía y llenarnos de vida.
        Cantar es solo una pequeña parte de todo lo que nos une.
    </p>
    <hr>
    <p class="my-info-container__gracias">
        Gracias infinitas por ser parte de este momento.
    </p>
    <a href="https://www.instagram.com/canto.infinito/" target="_blank" rel="noopener noreferrer">
        <i class="fa-brands fa-instagram"></i>
        @canto.infinito
    </a>
</div>