@use '/src/partials/variables' as v;

.animated-line {
    // height: 30%;
    width: 80vw;
    border-top: 1vh solid v.$secondary-color;
    border-right: 1vh solid transparent;
    position: absolute;
    top: 50;
    left: 5%;
}